.body {
    &__header {
        h1 {
            color: var(--dark-gray);
            font-size: 1.1rem;
            margin-top: 5px;
            letter-spacing: -0.2px;

            @media screen and (max-width: 1224px) {
                font-size: 0.9rem;
            }
        }

        h2 {
            font-size: 2rem;
            margin-top: 15px;
            letter-spacing: -1px;

            @media screen and (max-width: 1224px) {
                font-size: 1.3rem;
            }
        }
    }

    @media screen and (max-width: 1224px) {
        margin: 35px 30px;
    }

    @media screen and (max-width: 480px) {
        margin: 0 10px;
    }

    &__search {
        position: relative;
        display: flex;
        margin-top: 40px;
        flex-wrap: wrap;

        & .btn-search {
            height: 55px;

            @media screen and (max-width: 1224px) {
                width: 100%;
                text-align: center;
                margin-top: 20px;
            }
        }

        & input {
            border-radius: 50px;
        }

        &__input {
            position: relative;
            margin-right: 50px;
            border-radius: 50px;

            @media screen and (max-width: 1224px) {
                width: 100%;
                margin-right: 0;
            }
        }

        &__input__icon {
            position: absolute;
            top: 19px;
            left: 20px;
            z-index: 1;
        }
    }

    .totals {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        @media screen and (max-width: 1224px) {
            display: none;
        }
    }

    hr.head-hr {
        border: none;
        border-right: 1px solid var(--light-gray);
        transform: scaleY(2);

        @media screen and (max-width: 1224px) {
            transform: scaleY(1);
            margin: 0;
        }
    }

    .total-likes, .total-rt {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--dark-gray);

        @media screen and (max-width: 1224px) {
            margin: 10px 0;
        }

        p {
            font-size: 2rem;
            color: rgb(37, 37, 37);
        }
    }

    .total-likes svg {
        color: #f91880;
    }

    .total-rt svg {
        color: #008000;
    }

    .react-select-container {
        min-width: 450px;
        max-width: 450px;

        @media screen and (max-width: 1224px) {
            min-width: 100%;
            max-width: 100%;
        }
    }

    .react-select__control {
        height: 55px;
        overflow: auto;
    }

    .react-select__multi-value {
        border-radius: 50px;
        padding: 5px 10px;
    }

    &__filters {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 25px;

        @media screen and (max-width: 1224px) {
            flex-direction: column;
        }

        h2 {
            font-size: 1.6rem;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 25px;

            li > button {
                background-color: var(--light-gray);
                padding: 10px 30px;
                border-radius: 20px;
                color: var(--dark-gray);
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
             }
        }
    }

    &__tweets {
        margin-top: 40px;
        padding-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px 35px;
        justify-content: flex-start;

        @media screen and (max-width: 1295px) {
            justify-content: space-between;
        }

        @media screen and (max-width: 662px) {
            justify-content: center;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width: 1224px) {
                justify-content: center;
                gap: 5%;
            }

            li {
                max-width: 275px;
            }
        }

        .twitter-tweet {
            box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.1019607843);
            border-radius: 25px;
        }
    }
}