.sidenav {
    max-width: 74px;
    margin: 35px 12px;

    @media screen and (max-width: 1224px) {
        width: 100%;
        margin: 12px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        max-width: 74px;

        @media screen and (max-width: 992px) {
            flex-direction: row;
            margin: 0 20px;
        }
    }

}